@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto",arial,sans-serif;
  box-sizing: border-box;
}

:root{
  --display-flex:flex;
  --flex-column: column;
  --align-items: center;
  --justify-content:center;
  --justify-between: space-between;
  --justify-around:space-around;
  --spacing: 12px;
  --main-transition: all 0.3s ease;
  --main-grey: rgb(148 163 184);
  --light-grey : rgb(203 213 225);
}

body {
  margin: 0;
  background-color: rgb(15 23 42);
  display: flex;
  justify-content:center;
  /* height: 100vh;
  align-items: center; */
}

.justify-center{
  display: var(--display-flex);
  justify-content: var(--justify-content);
  align-items: center;
  flex-direction: column;
}

.nav-items, .types{
  margin-left:auto;
}
.nav-actions, .auth-btns, .nav-items, .types{
  display:flex;
  align-items:center;
}
.auth-btns{
  margin-left: 20px;
}
.types{
  margin-top: 1.5rem;
}

h3, h4, p{
  margin: 0;
}
.wrapper{
  padding:2rem 1rem;
  max-width:calc(100vw - 3rem);
  width:1142px;
}
.app {
  display: flex;
  min-height: 350px;
  position: relative;
}

.container-fluid{
  width: 100%;
  height: 100%;
  display: var(--display-flex);
  justify-content: var(--justify-between);
}
.compose-box{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid rgb(100 116 139);
}
.text-limit{
  border-bottom-left-radius: 5px;
  border: 1px solid red;
  border-right: 1px solid red !important;
}
.compose-box-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgb(100 116 139);
  padding: 0 24px;
  flex-wrap: wrap;
}
.compose-box-inner{
  display: flex;
  height: 100%;
  position: relative;
  min-height: 270px;
}


.output, 
.input {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input{
  font-size: 1rem;
}

input[type="file"] {
  display: none;
}

/* document upload styles */
.custom-file-upload, .translate-doc-btn, .paste-clipboard{
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  letter-spacing: .25px;
  line-height: 20px;
}

.custom-file-upload, .translate-doc-btn{
  background-color: #1967D2;
  border: none;
}

.paste-clipboard{
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--main-grey);
  display: var(--display-flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
}

a{
  text-decoration: none;
  color: #f5f5f5;
}

.custom-file-upload, .paste-clipboard{
  width: 280px;
  padding: 10px 24px;
}

.translate-doc-btn{
  transition: var(--main-transition);
  display: var(--display-flex);
  align-items: var(--align-items);
  font-size: 15px;
  padding: 10px 20px;
}
.translate-doc-btn:hover{
  background-color: rgb(30 41 59);
}

.drop-container, .browse-container{
  display: var(--display-flex);
  justify-content: var(--justify-content);
  flex-direction: var(--flex-column);
  align-items: var(--align-items);
  color: var(--main-grey);
  text-align: center;
  flex: 1;
  padding: 1rem;
  width: 100%;
}
.drop-area{
  padding: 2rem;
  height: 40%;
  width: 60%;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  border: 1px dashed var(--main-grey);
  border-radius: 5px;
}
.drop-container h4{
  font-size: 1.2rem;
  color: var(--main-grey);
  font-weight: 500;
}
.browse-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 250px;
  text-align: center;
}

.browse-inner h4{
  font-size: 1rem;
  font-weight: normal;
}
.file-box, .container-flex{
  margin: 1.2rem 0 1.5rem;
}

.browse-container p{
  font-size: 14px;
  font-weight: normal;
}

.line{
  display: flex;
  display: -moz-box;
  border: 1px solid rgb(100, 116, 139);
  /* height: 100%; */
  margin: 0;
}

@media screen and (max-width:765px) {
  .drop-container, .line{
    display: none;
  }
  
}

.filebox-wrapper{
  width: 640px;
  max-width: 100%;
  margin: auto;
  padding: 0 1rem;
  display: var(--display-flex);
  flex-direction: var(--flex-column);
}

.filebox-inner{
  width: 100%;
  margin-bottom: 1.3rem;
  display: var(--display-flex);
  justify-content: var(--justify-between);
  align-items: var(--align-items);
  padding: 1rem;
  color: #bdc1c6;;
  border-radius: 5px;
  background-color: rgb(30 41 59);;
}
.file-stats{
  display: var(--display-flex);
  flex-direction: var(--flex-column);
  line-height: 1.3;
  font-size: 15px;
  margin-left: 1rem;
  overflow: hidden;
}


.textarea-wrapper, .textarea-inner{
  position: relative;
  display: var(--display-flex);
  justify-content:var(--justify-between);
  width: 100%;
}

.textarea-wrapper{
  height: 100%;
  min-height: 250px;
  flex-direction: var(--flex-column);
  color: rgb(148 163 184);
}

@media screen and (max-width:600px) {
  .wrapper {
    padding: 2rem 1rem;
    max-width: calc(100vw - 0.5rem);
  }
  .compose-box-inner{
    flex-direction: column;
  }
  
}


textarea {
  background-color: transparent;
  color: rgb(148 163 184);
  border: none;
  resize: none;
  padding: 10px 8px;
  width: 100%;
  outline: none;
  overflow-y: hidden;
  height: auto;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  margin-top: 10px;
}
textarea::placeholder{
  color: rgb(148 163 184);
}
.textarea-actions{
  display: var(--display-flex);
  justify-content: var(--justify-between);
  margin-top: 24px;
  align-items: var(--align-items);
}
.left-actions, .right-actions{
  display: var(--display-flex);
  align-items: var(--align-items);
}
/* 
.output textarea {
  background-color: rgb(17 24 39);
  border:1px solid rgb(30 41 59);
} */

.arrow-container {
  padding: 8px 15px;
  cursor:pointer;
  user-select:none;
  height: max-content;
  margin: 0 auto;
  flex: 0 0 auto;

}

.arrow-container svg {
  width: 26px;
  height: 26px;
  fill: rgb(241 245 249);
}

.disabled{
  cursor: default;
  pointer-events: none;
}
.arrow-container.disabled-arrow{
  cursor: default;
}
.arrow-container.disabled-arrow svg{
  fill:rgb(100 116 139)
}

.option-list {
  width: 100%;
  border: 1px solid rgb(100 116 139);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgb(15 23 42);
}

.search-bar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgb(100 116 139);
  box-shadow: 0 2px 4px -1px rgb(30 41 59);

}
.close-button{
  position: relative;
  margin-right: 15px;
  display: flex;
  align-items: center;
  color: rgb(241 245 249);
}

input {
  box-sizing: border-box;
  color:rgb(148 163 184);
  height: 40px;
  background-color: transparent;
  width: 100%;
  border-radius: 8px;
  border:none;
  outline: none;
  
}
.input:focus{
  border: none;
  outline: none;
}
@media screen and (max-width:530px){
  
  .app{
    flex-direction: column;
    justify-content:center;
    align-items: center;
    max-width:calc(100vw - 2rem);

  }

  textarea {
    height: 180px;
  }
  
  .output, 
  .input {
    width: 100%;
  
  }
  textarea{
    width:100%;
  }
}

.search-bar input {
  padding-left: 35px;
  font-size: 16px;
  /* padding-right: 40px; */
  /* width: 90% !important; */
}

/* .search-bar .close-button svg {
  width: 30px;
  height: 30px;
  padding: 6px;
  fill: rgb(241 245 249);
} */

.option-container {
  overflow: auto;
}

@media screen and (min-width: 720px){
  .option-container {
    height: calc(100vh - 240px);
  }
  
}

.option-list ul, .loader-list {
  margin: 15px;
  padding: 0;
  height: 1300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width:532px){
  body {
    align-items: flex-start;
  }
  .option-list ul, .loader-list{
    flex-wrap: nowrap;
  }
}

.option-list li {
  color: rgb(148 163 184);
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
  list-style-type: none;
  border-radius: 4px;
  width: 100%;
  transition: all 0.3s ease;
}

.option-list li:hover {
  background-color: #33415529;
  color: #f5f5f5;
}


.list-item {
  display: flex;
}

.list-item .icon {
  padding: 8px;
  width: 11px;
  color: #8ab4f8;
}

.button-container {
  color: #ffff;
  display:flex;
  align-items:center;
  user-select:none;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-55%, -50%);
}

@media screen and (max-width:600px) {
  .button-container {
    order: 1;
    position: relative;
    top: 0; 
    left: 0;
    transform: translate(0, 0);
    margin: 1rem 0 1rem;
    justify-content: center;
    border: 1px dotted;
    padding: 5px;
  }
  
}



.select-drop-down {
  display: flex;
  /* border: 1px solid rgb(100 116 139); */
  /* border-radius: 8px; */
  align-items: center;
  flex: 1;
  max-width: 45%;
}

.flex-end{
  justify-content: flex-end;
}

.select-drop-down input, .select-drop-down div {
  border: none;
  outline: none;
  color: rgb(203 213 225);
  /* padding: 5px 15px; */
  font-size: 15px;
  position: relative;
}
.lang-nav-wrapper {
  position: relative;
  overflow: hidden; 
}

.lang-nav{
  display: var(--display-flex);
  align-items: var(--align-items);
  transition: all 0.5s linear;
  overflow-x: scroll; 
  overflow-y: hidden; 
  white-space: nowrap; 
  -ms-overflow-style: none; 
  scrollbar-width: none;
  font-weight: 400;
}

.lang-nav::-webkit-scrollbar{
  display: none;
}

.lang-nav-wrapper::after{
  background: linear-gradient(to right,#0F1424,#0F172A);
  bottom: 0;
  content: "";
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  opacity: 0.9;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}

.lang-nav-wrapper.no-scroll::after {
  opacity: 0;
}


.lang-nav div{
  cursor: pointer;
  line-height: 1.25rem;
  text-transform: none;
  min-width: auto;
  box-sizing: border-box;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  display: var(--display-flex);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  z-index: 1;
  height: 56px;
  padding: 0 5px;
}
.lang-nav div:hover{
  background-color: rgb(31 41 55);
}

.lang-nav div:nth-child(even){
  margin: 0 14px;
}

div.lang-style{
  color: #38BDF8;
}

div.lang-style::after{
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #38BDF8;
  border-radius:5px 5px 0 0;
}

@media screen and (max-width:765px){
  div.lang-style::after{
    height: 0;
  }
}



@media screen and (max-width:400px) {
  .select-drop-down input, .select-drop-down div{
    font-size: 14px;
  }
  .search-bar input, .option-list li{
    font-size: 15px;
  }
  .compose-box-header{
    padding: 5px 10px;
  }
}

.select-drop-down .down-arrow svg {
  width: 26px;
  height: 26px;
  fill: rgb(203 213 225);
  cursor:pointer;
  user-select:none;
}
.select-drop-down .down-arrow{
  margin-left: 1rem;
  transition: all, 0.3s ease;
  border-radius: 50%;
  display: var(--display-flex);
}

@media screen and (max-width:600px) {
  .select-drop-down .down-arrow{
    margin-left: 0.5rem;
  }
}

.select-drop-down .down-arrow:hover{
  background-color: #33415529;
}



.overlay-root{
  position: relative;
  display: block;
  transition: all;
  animation-duration: .25s;
  width: 100%;
  height: 100%;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  transition: opacity 0.5s ease;
}
.history-body{
  background-color: rgb(17 24 39);
  border-left: 1px solid rgb(30 41 59);
  transition:  right 0.5s ease;
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100%;
  max-width: 420px;
  height: 100%;
  color: #f5f5f5;
  overflow-y: auto;
  overflow-x: hidden;
}
 /* share modal style */
 .share-modal-wrapper{
  position: absolute;
  right: 1rem;
  bottom: 2.9rem;
 }
 .share-modal-inner, .dictionary-wrapper{
  display: var(--display-flex);
  flex-direction: var(--flex-column);
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(17 24 39);
  border: 1px solid rgb(30 41 59);
  min-width: 240px;
  color:  rgb(203 213 225);
 }
 .share-head h4{
  font-weight: normal;
  margin: 0;
 }

 .share-body{
  margin-top: 2rem;
  display: var(--display-flex);
  justify-content: var(--justify-between);
  align-items: var(--align-items);
  color:  rgb(203 213 225);
 }

 /* dictionary style */
 .dic-head{
  color: rgb(203 213 225);
  line-height: 1.2;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(30 41 59);

 }
 .dictionary-wrapper h2{
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0 0 1.2rem;
  text-transform: capitalize;
 }
 .dic-head h3{
  font-weight: normal;
  font-size: 16px;
  color: rgb(148 163 184);
 }

 .entry, .alternate-trans{
  display: var(--display-flex);
  align-items: var(--align-items);
  flex-wrap: wrap;
 }
 
 .entry:not(:last-child) {
  padding: 21px 0 16px;
  border-bottom: 1px solid rgb(30 41 59);
}
.entry:last-child{
  padding-top: 1rem;
}
 .trans-word, .pos{
  font-size: 1rem;
  margin-right: 2rem;
  text-align: left;
 }
 .alternate-trans, .pos{
  color: rgb(148 163 184);
 }
 .trans-word{
  flex-basis: 10%;
  font-weight: 500;
  color: rgb(203 213 225);
 }
 .pos{
  font-weight: normal;
  margin-right: 2rem;
 }
 .pos, .trans-word, .alternate-trans span{
  margin-bottom: 5px;
 }
 .alternate-trans{
  justify-content: flex-start;
 }
 .alternate-trans span{
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(30 41 59);
  background-color: rgb(30 41 59 / 1);
 }
 .alternate-trans span:not(:last-child){
  margin-right: 10px;
 }


 .share-icon, .icon-wrapper{
  display: var(--display-flex);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  padding: 4px;
  border-radius: 5px;
  transition: all 0.5s linear;
  cursor: pointer;
 }


.history-head, .share-head{
  display: var(--display-flex);
  justify-content: var(--justify-between);
  align-items: var(--align-items);
}
.history-head{
  padding: 1rem;
  border-bottom: 1px solid rgb(30 41 59);
}
.history-head-wrapper{
  width: 100%;
  max-width: 420px;
  position: sticky;
  top: 0;
}
.history-head h2{
  font-size: 1.4rem;
  font-weight: 500;
}

.clear-history, .no-history{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgb(30 41 59);
}
.no-history{
  color: #f5f5f5;
  justify-content: center;
}
.history-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-history-btn{
  cursor: pointer;
  border-radius: 5px;
  margin-left: 8px;
  transition: all 0.5s ease;
}
.close-history-btn:hover, .share-icon:hover, .icon-wrapper:hover{
  background-color: rgb(31 41 55);
}
.clear-history h3, .share-head h4{
  font-size: 14px;
  text-align: right;
  color: #38BDF8;
  cursor: pointer;
  transition: color 0.5s ease;
}
.share-head h4{
  color: #f5f5f5;
}

.clear-history h3:hover{
  color: rgb(220 38 38);
}
.content-inner{
  padding: 1rem;
  transition: all 0.5s ease;
  border-bottom: 1px solid rgb(30 41 59);
}
.content-inner:hover{
  background-color: rgb(30 41 59);
}
.content-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #d7d5d5;
  font-size: 15px;
}
.content-head-lang{
  display: flex;
  align-items: center;

}
.content-head-lang span:nth-child(2){
  margin: 0 7px;
}
.languages{
  margin-top: 2rem;
  font-size: 16px;
  cursor: pointer;
}
.lang-to{
  color: #bdc1c6;
}
.lang-from{
  color: #ffff;
}
.open-history{
  width: 100%;
  justify-content: center;
  /* transform: translateX(-54px); */
  margin-top: 3rem;
  display: flex;
}

@media screen and (max-width:420px){
  .open-history{
    display: flex;
  }
  .nav-actions{
    display: none;
  }
}
.container-flex{
  display: var(--display-flex);
  flex-direction: var(--flex-column);
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.text-sm{
  font-size: 14px;
  font-weight:600px;
  color: #f1f7feb5;
  overflow: hidden;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
}



/* @media screen and (max-width:532px){
  .open-history{
    transform: translateX(0);
    margin-top: 3rem;

  }
} */
.open-history-inner, .saved, .auth-btn{
  font-size: 13px;
  font-weight: normal;
  color: #f5f5f5;
  transition: 0.5s;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid rgb(30 41 59);
}

.top-btn, .btm-btn{
  border-radius: 5px;
}

.open-history-inner:hover, .saved:hover, .auth-btn:hover{
  color: #38BDF8;
}
.open-history-inner h3, .saved h3, .auth-btn h3{
  margin-left: 5px;
}
.saved, .btn-right{
  margin-left: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0F172A; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1E293B;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #448AFB; 
}

/* spinners */
.spinner-container{
  margin-right: 12px;
}
.spinner-icon {
  animation: spin 1s linear infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* privacy policy pages */
.privacy-policy{
  color: rgb(203 213 225);
  text-align: left;
}
.privacy-policy h1{
  font-size: 1.2rem;
  color: var(--light-grey);
  line-height: 1.4;
  font-weight: 600;
}
.privacy-policy h2, .privacy-policy h3, .privacy-policy h1, .privacy-policy h4{
  margin-bottom: 2rem;
}
.privacy-policy h2, .privacy-policy h3, .privacy-policy h4{
  font-size: 1.1rem;
  color: var(--light-grey);
  line-height: 1.5;
  font-weight: 500;
}

.privacy-policy p, .privacy-policy li{
  line-height: 1.4;
  font-size: 0.9rem;
  color: var(--main-grey);
  font-weight: normal;
  margin-bottom: 1rem;
}