* {
  font-family: arial,sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #202124;
  display: flex;
  justify-content:center;
  height: 100vh;
  align-items: center;
}
.wrapper{
  max-width:800px;
  padding:2rem;
}
.app {
  display: flex;
  width:100%;
  min-width:625px;
  min-height: 360px;
}



.output, 
.input {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.input{
  font-size: 1.1rem;
}


.textarea-wrapper{
  position: relative;
}

textarea {
  background-color: transparent;
  color: #bdc1c6;
  border: none;
  resize: none;
  padding: 10px 8px;
  width: 280px;
  height: 150px;
  border-radius: 10px;
  outline: none;
  overflow: auto;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 10px;
}

.output textarea {
  background-color: #303134
}

.arrow-container {
  padding: 8px 15px;
  cursor:pointer;
  user-select:none;

}

.arrow-container svg {
  width: 26px;
  height: 26px;
  fill: #5a5a5d;
}

.option-list {
  width: 100%;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;

}

input {
  border: 1px solid #818588;
  border-radius: 8px;
  box-sizing: border-box;
  color: #bdc1c6;
  font-size: 14px;
  height: 40px;
  background-color: transparent;
  width: 100%;
  
}
.input:focus{
  border: none;
}
@media screen and (max-width:713px){
  
  .app{
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:100%;
    min-width:calc(100vw - 4rem);
    height:auto;

  }
  .output, 
  .input {
    width: 100%;
  
  }
  textarea{
    width:100%;
  }
}

.search-bar input {
  background: url(https://www.gstatic.com/images/icons/material/system/2x/search_grey600_24dp.png) right 8px center no-repeat;
  background-size: 24px 24px;
  padding-left: 16px;
  padding-right: 40px;
  width: 90% !important;
  outline: none;
}

.search-bar .close-button svg {
  width: 30px;
  height: 30px;
  padding: 6px;
  fill: #5a5a5d;
}

.option-container {
  height: 250px;
  overflow: auto;
}

.option-list ul {
  margin: 15px;
  padding: 0;
  height: 1300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}

@media screen and (max-width:532px){
  body {
    align-items: flex-start;
  }
  .option-list ul{
    flex-wrap: nowrap;
  }
}

.option-list li {
  color: #bdc1c6;
  font-size: 14px;
  padding: 8px;
  list-style-type: none;
  border-radius: 4px;
}

.option-list li:hover {
  background-color: #5a5a5d;
}


.list-item {
  display: flex;
}

.list-item .icon {
  padding: 8px;
  width: 11px;
  color: #8ab4f8;
}

.button-container {
  color:#bdc1c6;
  display:flex;
  align-items:center;
  padding: 18px;
  height: 10px;
  cursor:pointer;
  user-select:none;
}

.select-drop-down {
  display: flex;
  border: 1px solid #818588;
  border-radius: 8px;
  align-items: center;
}

.select-drop-down input {
  border: none;
  outline: none;
  color: #8ab4f8;
  padding: 5px 15px;
  font-size: 15px;
}

.select-drop-down .down-arrow svg {
  width: 26px;
  height: 26px;
  fill: #8ab4f8;
  cursor:pointer;
  user-select:none;
}

.input .delete {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 45px;
  color:gray;
  width:min-content;
  
}
